<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include("../fragmente/head.ejs")
        %>
</head>

<body>
    <header>
        <%- include("../fragmente/header.ejs")
            %>
    </header>
    <main>
        <div class="video-background">
            <video playsinline
                autoplay
                muted
                loop
                width=50%
                height=200em
                preload="auto">
                <source src="resurse/media/Prezentare_Saltea.mp4"
                    type="video/mp4">
            </video>
            <p>
                Un crap care pluteste
            </p>
        </div>
        <span class="efecteCSS">
            <h2>Magazinul de saltele Oneiros – O Lume a Confortului și Visării Nocturne

                Bine ați venit într-o oază de relaxare și rafinament, în lumea noastră a saltelelor premium -
                Oneiros. Suntem mândri să
                vă prezentăm un magazin dedicat în întregime calității superioare, confortului fără compromisuri și
                visării nocturne
                îmbunătățite. Fie că sunteți în căutarea unui somn odihnitor sau a unei experiențe senzaționale de
                repaus, Oneiros aduce
                totul laolaltă, oferindu-vă cea mai bună alegere în materie de saltele.

                Cu o pasiune încălzită de dorința de a îmbunătăți calitatea somnului fiecărui client, Oneiros îmbină
                tehnologia de
                ultimă generație cu măiestria tradițională în producția de saltele. Fiecare saltea produsă în cadrul
                Oneiros este
                rezultatul cercetărilor intense și al unei atenții la detalii fără precedent, pentru a vă oferi nu
                doar un produs, ci o
                experiență.

                De la modele care îmbrățișează forma corpului într-un mod personalizat, până la straturi inovatoare
                care reglează
                temperatura și asigură ventilația optimă, fiecare detaliu este conceput pentru a vă aduce o noapte
                de somn profund și
                relaxant. Materialele selectate cu grijă, tesături fine și tehnologii avansate se îmbină pentru a
                crea o gamă
                diversificată de saltele care se potrivesc atât preferințelor dumneavoastră individuale, cât și
                cerințelor unui somn
                sănătos.

                Magazinul nostru online Oneiros vă invită să explorați această selecție deosebită de saltele, unde
                fiecare model este
                prezentat în detaliu, cu specificații tehnice și recomandări de utilizare. Ne dorim să vă oferim nu
                doar o saltea, ci un
                partener pentru cele mai bune nopți de odihnă. Vă invităm să ne contactați pentru a primi
                consultanță personalizată și
                pentru a alege salteaua perfectă pentru nevoile și preferințele dumneavoastră.

                Oneiros – Pentru un somn profund și o dimineață revigorată, fiecare noapte.</h2>
        </span>
        </span>
    </main>
    <footer>
        <%- include("../fragmente/footer.ejs")
            %>
    </footer>
</body>

</html>