<!-- Informații de contact -->
<address>
        <p>Telefon: <a href="tel:+40721234567">+40 721 234 567</a></p>
        <p>Adresă: <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica"
                        target="_blank">Facultatea de Matematică și Informatică</a></p>
        <p>E-mail: <a href="mailto:contact@oneiros.com">contact@oneiros.com</a></p>
        <a href="https://wa.me/123456789">Trimite mesaj pe WhatsApp</a>
</address>

<!-- Informație de copyright -->
<small>&copy; Oneiros - Toate drepturile rezervate | <time datetime="2023">2023</time></small>

<!-- Link de tip download -->
<p>Pentru a descărca broșura noastră, apăsați <a href="/resurse/media/brosura.pdf"
                download>aici</a>.</p>

<!-- Link în footer către începutul paginii -->
<p id="banner">Acesta este un proiect scolar!</p>
<p id="watermark"></p>
<a href="#acasa"
        style="text-decoration: none"
        class="laterale"
        title="Acasa"><span class="link">&#9650;</span></a>