<h1>Oneiros - Saltele Ortopedice <i class="fas fa-bed fa-flip"></i>
    <div class="btn-toolbar">
        <button type="button" id="lightTheme" class="btn btn-primary btn-sm"><span
                class="fa-solid fa-sun"></span></button>
        <button type="button" id="darkTheme" class="btn btn-primary btn-sm"><span
                class="fa-solid fa-moon"></span></button>
        <button type="button" id="surpriseTheme" class="btn btn-primary btn-sm"><span
                class="fa-solid fa-question"></span></button>
    </div>
</h1>
<nav>
    <label id="hamburger"
        for="peste-menu">
        <div></div>
        <div></div>
        <div></div>
    </label>
    <input id="peste-menu"
        type="checkbox">
    <ul class="menu">
        <li>
            <a href="/">
                <i class="fa-solid fa-house"></i>
                <span class="textAcasa">Acasa</span>
            </a>
        </li>
        <li>
            <a href="#zone1">Zone1</a>
            <ul>
                <li><a href="#despre"><span>&#8594;</span>Despre</a></li>
                <li><a href="#gama"><span>&#8594;</span>Gama</a></li>
                <li><a href="#recenzii"><span>&#8594;</span>Recenzii</a></li>
                <li><a href="#faq"><span>&#8594;</span>FAQ</a></li>
                <li><a href="/oferteSpeciale"><span>&#8594;</span>Oferte speciale</a></li>
            </ul>
        </li>
        <li>
            <a href="#zone3">Zone3</a>
            <ul>
                <li><a href="#beneficii"><span>&#8594;</span>Beneficii</a></li>
                <li><a href="#sfaturi"><span>&#8594;</span>Sfaturi</a></li>
            </ul>
        </li>
        <li>
            <a href="/despre">
                Despre Noi</a>
        </li>
    </ul>
</nav>